In [1]:
'''
@Author: Venkatesh <br>
@Date: 2024-11-19  <br>
@Last Modified by: Venkatesh <br>
@Last Modified time: 2024-11-19 <br>
@Title: predicting whether customer will subscribe to term deposit or not using single layer neural network  <br>

'''

'\n@Author: Venkatesh <br>\n@Date: 2024-11-19  <br>\n@Last Modified by: Venkatesh <br>\n@Last Modified time: 2024-11-19 <br>\n@Title: predicting whether customer will subscribe to term deposit or not using single layer neural network  <br>\n\n'

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import os

Load the dataset

In [3]:
column_names = [
    'age', 'workclass', 'fnlwgt', 'education', 'education_num', 
    'marital_status', 'occupation', 'relationship', 'race', 'sex', 
    'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income'
]

# Read the CSV file without headers and assign column names
dataset = pd.read_csv("D:\\ML\\neural_network\\Salary_Data.csv", header=None, names=column_names,na_values=[' ?'])

print(dataset.info())

categorical_columns = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']
for column in categorical_columns:
    mode_value = dataset[column].mode()[0]
    dataset[column].fillna(mode_value, inplace=True)

dataset.info()
print(dataset)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
       age          workclass  fnlwgt    education  education_num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            marital_status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital_gain  capital_loss  hours_per_week  native_country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]

C:\Users\Venkatesh Bingi\AppData\Local\Temp\ipykernel_18388\2408216417.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(mode_value, inplace=True)

In [4]:
# Display the first few rows of the dataset
print(dataset.head())

   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

In [5]:
# Handle missing data
print("\nDataset Information:")
print(dataset.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [6]:
# Check for missing values
print("\nMissing values in dataset:\n", dataset.isnull().sum())

Missing values in dataset:
 age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

Encode categorical value

In [7]:
# Encode categorical variables
label_encoder = LabelEncoder()
categorical_cols = dataset.select_dtypes(include=['object']).columns

for col in categorical_cols:
    dataset[col] = label_encoder.fit_transform(dataset[col])

print(dataset.head())

   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          6   77516          9             13               4
1   50          5   83311          9             13               2
2   38          3  215646         11              9               0
3   53          3  234721          1              7               2
4   28          3  338409          9             13               2

   occupation  relationship  race  sex  capital_gain  capital_loss  \
0           0             1     4    1          2174             0
1           3             0     4    1             0             0
2           5             1     4    1             0             0
3           5             0     2    1             0             0
4           9             5     2    0             0             0

   hours_per_week  native_country  income
0              40              38       0
1              13              38       0
2              40              38       0
3              40              38       0
4              40               4       0

Future scalling

In [8]:
print(dataset.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [9]:
# Split dataset into features (X) and target (y)
X = dataset[['workclass', 'education','marital_status']]  # Assuming 'income' is the target column
y = dataset['income']

# Encode target variable
y = label_encoder.fit_transform(y)  # Convert 'income' to 0/1

In [10]:
# Encode the target variable
y = label_encoder.fit_transform(y)  # Convert 'income' to 0/1 (binary classification)

# Step 3: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 4: Scale the features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Building model

In [ ]:
# Step 5: Build the Artificial Neural Network (ANN) with a single hidden layer
model = Sequential()

# Input layer and the single hidden layer
model.add(Dense(units=16, activation='relu', input_dim=X_train_scaled.shape[1]))

# Output layer
model.add(Dense(units=1, activation='sigmoid'))  # Sigmoid for binary classification

# Step 6: Compile the ANN
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Step 7: Train the ANN
model.fit(X_train_scaled, y_train, epochs=15, batch_size=32, validation_split=0.2)

# Step 8: Predict on the test set
y_pred = model.predict(X_test_scaled)
y_pred = (y_pred > 0.5).astype(int)  # Convert probabilities to 0/1

# Step 9: Evaluate the model performance

# # Confusion Matrix
cm = confusion_matrix(y_test, y_pred)

# # Accuracy Score
accuracy = accuracy_score(y_test, y_pred)

c:\Users\Venkatesh Bingi\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.6286 - loss: 0.6192 - val_accuracy: 0.7572 - val_loss: 0.4669
Epoch 2/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7659 - loss: 0.4484 - val_accuracy: 0.7647 - val_loss: 0.4482
Epoch 3/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7665 - loss: 0.4404 - val_accuracy: 0.7656 - val_loss: 0.4454
Epoch 4/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7681 - loss: 0.4329 - val_accuracy: 0.7666 - val_loss: 0.4441
Epoch 5/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7641 - loss: 0.4398 - val_accuracy: 0.7651 - val_loss: 0.4433
Epoch 6/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7682 - loss: 0.4361 - val_accuracy: 0.7653 - val_loss: 0.4423
Epoch 7/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7701 - loss: 0.4306 - val_accuracy: 0.7887 - val_loss: 0.4408
Epoch 8/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7772 - loss: 0.4343 - val_accuracy: 0.7887 - val_loss: 0.4392
Epoch 9/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7893 - loss: 0.4227 - val_accuracy: 0.7868 - val_loss: 0.4375
Epoch 10/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7842 - loss: 0.4266 - val_accuracy: 0.7871 - val_loss: 0.4361
Epoch 11/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7853 - loss: 0.4243 - val_accuracy: 0.7879 - val_loss: 0.4353
Epoch 12/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7871 - loss: 0.4284 - val_accuracy: 0.7894 - val_loss: 0.4336
Epoch 13/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7890 - loss: 0.4239 - val_accuracy: 0.7868 - val_loss: 0.4319
Epoch 14/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7880 - loss: 0.4285 - val_accuracy: 0.7887 - val_loss: 0.4308
Epoch 15/15
652/652 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7947 - loss: 0.4141 - val_accuracy: 0.7858 - val_loss: 0.4294
204/204 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [12]:
# Accuracy Score
accuracy = accuracy_score(y_test, y_pred)

# Display results
print("Confusion Matrix:\n", cm)
print("Accuracy:", accuracy)

Confusion Matrix:
 [[4725  217]
 [1188  383]]
Accuracy: 0.7842775986488562